---

---
<table>
  <tbody style="text-decoration: none; font-family: 'Trebuchet MS', sans-serif;">
    <!-- <tr>
      <td rowspan="6" style="border-right: 1px solid blue;">A</td>
    </tr> -->
    <tr style="margin-bottom: 4px; padding:0; display:block;">
      <td style="padding: 0; display: block;">
        <p style="margin: 0; font-size: 20px; font-weight: 700;">Hayoun Kim</p>
      </td>
    </tr>
    <tr style="margin-bottom: 4px; padding:0; display:block;">
      <td style="padding: 0; display: block;">
        <p style="margin: 0; font-size: 16px; font-weight: 600;">Frontend Web Developer</p>
      </td>
    </tr>
    <tr style="margin-bottom: 4px; padding:0; display:block;">
      <td style="padding: 0; display: block;">
        <a href="mailto:hayoun.k.1102@gmail.com" class="link" style="text-decoration: none; color: black;">
          <img src="https://res.cloudinary.com/dyejlqo7e/image/upload/v1741901559/material-symbols--mail-outline-rounded_nprece.png" height="16" alt="icon" style="margin-top: 1px; vertical-align:text-top;">
          <span style="vertical-align: baseline;">hayoun.k.1102@gmail.com</span>
        </a>
      </td>
    </tr>
    <tr style="margin-bottom: 4px; padding:0; display:block;">
      <td style="padding: 0; display: block;">
        <a href="https://hayounk.com" target="_blank" class="link" style="text-decoration: none; color: black;">
          <img src="https://res.cloudinary.com/dyejlqo7e/image/upload/v1741901559/mdi--web_qc7k6q.png" height="16" alt="icon" style="margin-top: 1px; vertical-align:text-top;">
          <span style="vertical-align: baseline;">hayounk.com</span>
        </a>
      </td>
    </tr>
    <tr style="margin-bottom: 4px; padding:0; display:block;">
      <td style="padding: 0; display: block;">
        <a href="https://github.com/hayoun-k" target="_blank" style="text-decoration: none;"><img src="https://res.cloudinary.com/dyejlqo7e/image/upload/v1741901663/mdi--github_h2fo65.png" height="18" alt=""></a>
        <a href="#" style="text-decoration: none; color: inherit;"><img src="https://res.cloudinary.com/dyejlqo7e/image/upload/v1741901663/mdi--instagram_t8e4uh.png" height="18" alt=""></a>
        <a href="#" style="text-decoration: none; color: inherit;"><img src="https://res.cloudinary.com/dyejlqo7e/image/upload/v1741901663/mdi--linkedin_ciy315.png" height="18" alt=""></a>
      </td>
    </tr>
  </tbody>
</table>