---

---
<header>
  <nav class="navbar">
    <img src="./logo.png" class="logo" />
    <ul class="nav-list">
      <div class="navlist-left">
        <li class="nav-link"><a>Home</a></li>
        <li class="nav-link"><a>About</a></li>
        <li class="nav-link"><a>Works</a></li>
        <li class="nav-link"><a>Service</a></li>
      </div>
      <div class="navlist-right">
        <li class="nav-link contact"><a>Contact</a></li>
      </div>
    </ul>
  </nav>
</header>