---

---

<section class="others">
  <div class="wrapper">
    <ul class="list">
      <li class="list-item">Technical SEO</li>
      <li class="list-item">Web design</li>
      <li class="list-item">Performance Optimization</li>
      <li class="list-item">Custom CMS</li>
    </ul>
  </div>
</section>

<style>
  .others {
    padding-block: 144px;
  }

  .list:has(.list-item:hover) .list-item:not(:hover) {
    opacity: 0.2;
  }

  .list-item {
    padding-block: 0.33em;
    font-family: 'Audiowide', sans-serif;
    font-size: 3rem;
    font-style: italic;
    border-bottom: 1px solid rgba(135, 135, 135, 0.5);
  }
</style>